<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrabble Game</title>
    <link rel="stylesheet" href="../css/style_game.css" />
    <script src="https://www.gstatic.com/firebasejs/10.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.5.0/firebase-database.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Titre en haut du plateau -->
      <div id="title">
        <div>C'est à votre tour de jouer !</div>
      </div>
      <!-- TODO: Modifier dynamiquement selon le joueur -->

      <!-- Tableau des scores -->
      <table class="score-table">
        <thead>
          <tr>
            <th>Nom du Joueur</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody id="score-board">
        </tbody>
      </table>

      <!-- Plateau de Scrabble -->
      <div class="board-container">
        <div id="board" class="board">
          <!-- généré le board -->

        </div>

        <!-- Lettres du joueur -->
        <div class="player-letters" id="player-letters">

          <div class="underline"></div>
        </div>
      </div>

      <!-- Boutons -->
      <div class="buttons">
        <button id="validate-word">Valider le mot</button>
        <button id="pass-turn">Passer son tour</button>
        <button id="end-game">Terminer la partie</button>
      </div>
    </div>

    <script type="module" src="../js/script_FrontEndGame.js"></script>

</body>

</html>
