<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrabble - Rejoindre une Partie</title>
    <link rel="stylesheet" href="../css/default.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Rejoindre une Partie</h1>
            <p>Veuillez entrez le code de la Partie que vous souhaitez rejoindre</p>
        </div>

        <input type="text" id="PartyCode" required>

        <div class="valider-section" id="validerSection">
            <button id="validerBtn">Rejoindre</button>
        </div>

    <script type="module" src="../js/firebaseConfig.js"></script>
    <script type="module" src="../js/script_joinGame.js"></script>

</body>
</html>